.justifyText {
  text-align : justify;
}

.positionRelative {
  position: relative;
}

.positionAbsolute {
  position: absolute;
}

.pointerNone {
  pointer-events: none;
}

.pointerAuto {
  pointer-events: auto;
}

.section-title {
  text-transform: uppercase;
  /* text-decoration-line: underline; */
}
